.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  color: white;
  padding: 40px 0 0 0;
}

.title {
  grid-area: title;
  color: white;
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 48px;
}

.nav-bar-area {
  grid-area: nav;
  padding: 20px 0;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0 20px 0 20px;
  width: 100%;
}

.nav-item {
  height: 40px;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.drop-down-nav {
  display: none;
  width: 50px;
  height: 100%;
}

.nav-item:hover {
  cursor: pointer;
}

.app-link {
  color: #61dafb;
}

.selected {
  color: red;
}

.menu-bar {
  width: 35px;
  height: 4px;
  background-color: white;
  margin: 6px 0;
}

.expanded-menu {
  display: none;
  width: 124%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 20px 0;
}

@media only screen and (max-width: 600px) {
  .app-header {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas:"title nav";
    padding: 20px 0 0 0;
  }
  .list {
    display: none;
  }
  .nav-bar-area {
    display: flex;
    justify-content: center;
    padding: 16px 0 20px 0;
  }
  .drop-down-nav {
    display: block;
  }
  .nav-item {
    width: 33%;
    font-size: 18px;
  }
  .expanded-menu {
    display: flex;
  }
  .selected {
    border: 1px white solid;
  }
}
