.faq {
  background-color: #eabdab;
  border: solid #b49b8c 2px;
  border-radius: 15px;
  padding: 0 20px;
}

.answer {
  margin: 0 80px;
  padding: 14px 0;
}

.answer p {
  text-align: left;
  margin-bottom: 16px;
}

.obi-pics {
  display: flex;
  flex-direction: column;
}


@media only screen and (max-width: 600px) {
  .answer {
    margin: 0 10px;
  }
  .answer-box {
    margin: 0 14px;
  }
  .question-box {
    margin: 0 14px;

  }
}
