.schedule header {
  margin-bottom: 40px;
  width: 70%;
  max-width: 900px;
  padding-bottom: 40px;
  border-bottom: solid 1px black;
  position: relative;
  left: 15%;
}

.schedule header h1 {
  font-size: 40px;
}

.schedule header h3 {
  font-size: 30px;
}

.schedule header h4 {
  font-size: 24px;
}

.days {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.day {
  border: 2px solid #b49b8c;
  width: 20%;
  margin: 26px 0;
  min-width: 150px;
}

.day p {
  margin: 16px;
}

.day h3 {
  margin-top: 16px;
}

.activities h3 {
  font-size: 32px;
}

.activities h4 {
  font-size: 22px;
  margin-bottom: 10px;
}

.activities p {
  margin-bottom: 10px;

}
